# Add any directories, files, or patterns you don't want to be tracked by version control
/bitrix/
/upload/
/local/lg/
/*/node_modules/*
node_modules/*
/local/vendor/
/webdev/
/local/components/ul/order.creator/data.json


*.csv
*.zip
*.bmp
*.pdf
*.doc
*.docx
*.tar
*.tar.gz
*.gz
*.idea
/.idea
/local/components/ul/order.creator/*.json
/local/components/mig/order.creator/*.json
*.DS_Store
/devmigls/*
bitrix
upload
images
*.lock
